#Header{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border:solid 8px black;
	text-align: center;
	background-color: yellow;
	border-style: dotted dashed solid double;
}
#Header h1{
	font-family: verdana;
	font-size: 40px;
	font-weight: bold;
}
#picture{ 
	width: 300px; 
	margin-left:20px; 
	margin-right: 20px; 
	margin-bottom: 20px; 
	border: dotted; 
}
#LeftNav{
	width: 400px;
	margin-left:auto;
	margin-right: auto;
	margin-bottom:10px;
	border: solid 8px blue;
	border-right-color: red;
	border-left-color: red;
	float: left;
	text-align: center;
	padding-bottom: 8px;
	background-color: red;
}

#content{
	width: 700px;
	margin-left:auto;
	margin-right: auto;
	margin-bottom:10px;
	border: solid 8px red;
	text-align: center;
	background-color: green;
}

ul{
	list-style-type:  none;
	padding-left: 0px;
	list-style-type: circle;

}

p{
	font-weight: bold;
	font-family: arial;
	color: purple;
}

body {
	background-image: url('cloth.png')

}

a{
	color:grey;
	font-weight: bold;
	font-size: 24px;
}

a:hover {
    color: hotpink;
}
a:active {
    color: green;
}



