#Header{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border:solid 8px black;
	text-align: center;
	background-color: yellow;
	border-style: dotted dashed solid double;
}
#Header h1{
	font-family: verdana;
	font-size: 40px;
	font-weight: bold;
}



#Content{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border:solid 8px black;
	text-align: center;
	background-color: yellow;
	border-style: dotted dashed solid double;
}

#para{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border:solid 8px black;
	text-align: center;
	background-color: yellow;
	border-style: dotted dashed solid double;
}


#picture{
	width: 300px;
	margin-left:20px;
	margin-right: 20px;
	margin-bottom: 20px;
	border: dotted;


}



p{
	font-weight: bold;
	font-family: arial;
	color: purple;
}

body {
	background-image: url('cloth.png')

}







